@import "./variables.css";
@import "./reset.css";

body {
  background-image: linear-gradient(to bottom, var(--noColor), var(--darkColor)),
    url("../images/luca-background.png");
  background-size: cover;
  color: var(--lightColor);
  font-family: var(--primaryFont);
  line-height: 1.2;
  margin: 0;
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.details-container {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  position: unset;
  bottom: unset;
  padding: 0 var(--space-xxl) var(--space-xxl) var(--space-xxl);
}

h1 {
  margin-bottom: var(--space-sm);
  font-size: var(--size-xl);
}

.cover-image {
  width: 700px;
  border: solid;
  border-color: var(--lightColor);
  margin-right: var(--space-xl);
}

.detail-text {
  margin-top: var(--space-xxl);
  align-self: self-end;
  margin-bottom: var(--space-xl);
}

.detail-text-header {
  margin-bottom: var(--space-lg);
  display: flex;
}

h2 {
  font-size: var(--size-xl);
}

.movie-rate {
  color: var(--errorColor);
  font-weight: bold;
  align-self: flex-end;
  margin: 0 0 var(--space-sm) var(--space-lg);
}

@media screen and (min-device-width: 450px) {
  main {
    display: flex;
  }

  .details-container {
    max-width: 1000px;
    flex-direction: row;
    position: fixed;
    bottom: 0;
  }

  .cover-image {
    width: 400px;
  }

  .detail-text-header {
    margin-top: 0;
  }
}
