@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
  /* colors */
  --darkColor: black;
  --lightColor: white;
  --noColor: rgba(245, 246, 252, 0);
  --errorColor: red;

  /* sizes */
  --size-unit: 1em;
  --size-sm: calc(0.5 * var(--size-unit));
  --size-md: calc(1 * var(--size-unit));
  --size-lg: calc(1.5 * var(--size-unit));
  --size-xl: calc(2 * var(--size-unit));
  --size-xxl: calc(2.5 * var(--size-unit));

  /* spacing sizes */
  --space-unit: 8px;
  --space-sm: calc(0.5 * var(--space-unit));
  --space-md: calc(1 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3 * var(--space-unit));
  --space-xxl: calc(4 * var(--space-unit));

  /* fonts */
  --primaryFont: "Roboto", sans-serif;
}
