:root {
  /* colors */
  --darkColor: #000000;
  --lightColor: #ffffff;

  /* sizes */
  --size-unit: 1em;
  --size-sm: calc(0.5 * var(--size-unit));
  --size-md: calc(1 * var(--size-unit));
  --size-lg: calc(2 * var(--size-unit));
  --size-xl: calc(3 * var(--size-unit));

  /* spacing sizes */
  --space-unit: 8px;
  --space-sm: calc(0.5 * var(--space-unit));
  --space-md: calc(1 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3 * var(--space-unit));

  /* fonts */
  --primaryFont: cursive;
}
